@mixin flexRow($justify-content) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: center;
}

@mixin flexColumn($justify-content) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: center;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin underTextAnimation {
  content: "";
  position: absolute;
  background: linear-gradient(to right, $leftColor, $middleColor, $rightColor);
  bottom: 0;
  right: 0;
  height: 0.1rem;
  width: 0%;
  transition: 250ms ease-in;
}
