// main variables
$backgroundColor: rgb(30, 30, 30);
$generalTransition: 300ms ease-in-out;

// margin and padding variables
$marginSidesMobile: 20px;
$paddingHeroText: 10px;

// button variables
//gradient colors, matching with web pages color scheme
$leftColor: rgb(255, 174, 0);
$middleColor: red;
$rightColor: rgb(234, 0, 255);

$bigBtnWidth: 15rem;
$bigBtnHeight: 4rem;
